# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# http://editorconfig.org

root = true

# https://github.com/pharring/EditorGuidelines#getting-started
[*]
guidelines = 80
guidelines_style = 1px dotted magenta

[*.{cs,vb}]
guidelines = 80 1px dotted deeppink, 120 1px dashed maroon, 132 2px solid red

# Treat all _ prefixed files as generated code
[_*.{cs,vb}]
generated_code = false

[*]
; prefer tabs for indentation.
indent_style             = tab
tab_width                = 4
; (Please don't specify an indent_size here; that has too many unintended consequences.)
charset                  = utf-8
trim_trailing_whitespace = true
end_of_line              = crlf
insert_final_newline     = true
max_line_length          = 132

# Code files
[*.{cs,csx,vb,vbx}]
indent_size = 4
tab_width = 4
charset = utf-8

# Xml project files
[*.{csproj,vbproj,vcxproj,vcxproj.filters,proj,projitems,shproj}]
indent_size = 2
tab_width = 2

# Xml config files
[*.{props,targets,ruleset,config,nuspec,resx,vsixmanifest,vsct}]
indent_size = 2
tab_width = 2

# JSON files
[*.json]
indent_size = 2
tab_width = 2

; PowerShell scripts
[*.{ps1}]
indent_size = 4

[*.{sh}]
indent_size = 4
